<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Usuário da Silva</h5>
    <h6 class="card-subtitle mb-2 text-muted">04:20</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Like</a>
    <a href="#" class="card-link">Comentários</a>
  </div>
</div>

<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Usuário da Silva</h5>
    <h6 class="card-subtitle mb-2 text-muted">04:20</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Like</a>
    <a href="#" class="card-link">Comentários</a>
  </div>
</div>

<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Usuário da Silva</h5>
    <h6 class="card-subtitle mb-2 text-muted">04:20</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Like</a>
    <a href="#" class="card-link">Comentários</a>
  </div>
</div>